.heroTitle {
  margin-bottom: 40px;
  text-align: center;
}

.heroHeading {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.heroSubtitle {
  font-size: 1.2rem;
  color: var(--text-gray);
}

.sectionTitle {
  margin-top: 60px;
}
